/* component_wrappers */
.component_wrapper {
    max-width: 100%;
    margin:0rem auto ;
    background-color: rgb(216, 216, 216);


}
.postlist_wrapper{
    max-width:100%;
    margin:1rem auto;
}

/* alignment */
.postdata_wrapper{
    display: flex;

}
.sortBtn_holder{
    display: flex;
    margin: 2.5rem auto;
    justify-content: space-between;
    width:50%;
}

.btn-s{
    width: 10%;
    margin-left:1rem;
}

.post_img{
    width:40%;
    background-color: rgb(7, 46, 85);
}
.post_img img{
    height: 200px;
    padding: .2rem;
    margin: 1rem 0rem 1rem 2.5rem;
    object-fit:cover;
    display: block;
    width: 100%;
    
}
.post_detail {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    padding: 1rem;
}
/* alignment */
/* component_wrappers */

.post_card{
    background-color: #fff;
    border-radius:.5rem;    
    width:90%;   
    display: flex;
    justify-content: space-between;
}
.component_wrapper  h3{
    margin: 1rem 2.5rem;
    font-size: 2rem;
    /* color: rgb(49, 49, 49); */
    color:rgb(255, 246, 246);
}
.postlist_wrapper ul{
    list-style: none;
    margin:0;
}



.post_detail p {
    color:rgb(61, 61, 61);    
} 
.post_detail h4{
    color:rgb(6, 44, 82);
}
.btn-rm{
    letter-spacing:.1rem;
    color: rgb(78, 78, 78);
    margin-bottom: .5rem;
    width:20%;
    border: none;
    cursor: pointer;
    background-color: #fff;
}
.count_btn{
    width:80%;

}
.count_btn span{
font-size: 1.5rem;
padding: 1rem;
margin: 1rem .2rem;

}
.post_title{
    font-size: 1.1rem;
    color:rgb(49, 49, 49);
    width:50%;
    
}

/* Responsiveness */
@media  screen and (max-width: 400px ) and ( min-width:150px) {
    .sortBtn_holder{
        display: flex;
        width: 90%;
        margin: 0rem auto;

    }

    .post_card{
        background-color: #fff;
        border-radius:.5rem;    
        width:90%;   
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .post_img{
        width:100%;
        background-color: rgb(7, 46, 85);
    }
    .post_img img{
        width:70%;
        /* height:80%; */
        object-fit:cover;
        display: block;
        margin-left: 1.8rem;
        
    }
    .post_detail {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        text-align: center ;
        margin:.5rem;
    }
    .count_btn{
        width:100%;
        display: flex;


    }
    .count_btn span{
        font-size: .8rem;
    }
  }  
  @media  screen and (max-width: 700px ) and ( min-width:401px){
    .sortBtn_holder{
        display: flex;
        width: 90%;
        margin: 0rem auto;

    }
    .post_card{
        background-color: #fff;
        border-radius:.5rem;    
        width:90%;   
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .post_img{
        width:100%;
        background-color: rgb(7, 46, 85);
    }
    .post_img img{
        width:70%;
        object-fit:cover;
        display: block;
        margin:1rem auto;
        
    }
    .post_detail {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        text-align: center ;
        margin:.5rem;
        max-width:400px;
    }
    .count_btn{
        width:100%;
        display: flex;
        justify-content: center;

    }
    .count_btn span{
        font-size: .9rem;
    }
  }  
  @media  screen and (max-width: 980px ) and ( min-width:701px){
    .sortBtn_holder{
        display: flex;
        width: 90%;
        margin: 0rem auto;

    }
    .post_card{
        background-color: #fff;
        border-radius:.5rem;    
        width:90%;   
        display: flex;
        flex-direction: row;
    }
    .post_img{
        width:100%;
        background-color: rgb(7, 46, 85);
    }
    .post_img img{
        width:60%;
        object-fit:cover;
        display: block;
        margin:1rem auto;
        
    }
    .post_detail {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        text-align: center ;
        margin:.5rem;
    }
    .count_btn{
        width:100%;
        display: flex;
        justify-content: center;

    }
    .count_btn span{
        font-size: .8rem;
    }
}

/* Responsiveness */

