*{
  max-width: 100%;
  box-sizing: border-box;
}
.tabs_holder{
  max-width: 100%;
  margin:1rem auto;
  list-style: none;
  display: flex;
  justify-content: center;
}
.tabs_holder li{
  padding: 1rem ;
  
}
.tabs_holder li a{
  text-decoration: none;
  color:rgb(17, 106, 196);
}
.tabs_holder li a:hover{
  color:black;
  background-color: rgb(235, 235, 235);
}


/* .sortBtn_holder{
  padding-right: 1rem;
  width:100%;
  margin:1rem 5rem 0rem 0rem;
}
.btn-s{
  font-size: 2rem;
  padding:2rem;
  width:100%;
  font-weight: 600;
  cursor: pointer;
} */
/* .sortBtn_holder button:focus{
  outline: .2rem solid rgb(75, 143, 211);
  border-radius: .2rem;
} */